{% extends "_base.html" %} {% block content %}
<section class="h-screen flex flex-col justify-center items-center gap-10">
	<h1 class="text-3xl font-bold">Make deposit</h1>
	<form class="w-1/5" action="{{ url_for('deposit') }}" method="post">
		<div class="mb-5">
			<label for="username" class="block mb-2 text-sm font-medium text-gray-900"
				>Amount</label
			>
			<select
				name="amount"
				id="amount"
				class="shadow-sm bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="50">50</option>
				<option value="100">100</option>
				<option value="200">200</option>
				<option value="500">500</option>
			</select>
		</div>
		<button
			type="submit"
			class="text-white w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
			Deposit
		</button>
	</form>
	{% if error %}
	<h3 class="text-red-500 font-bold">{{ error }}</h3>
	{% endif %}
</section>
{% endblock %}
